{% extends 'base.html' %}

{% block title%} BY Category {% endblock %}


{% block content%} 
<div class="d-flex flex-wrap">
   
{% for val in vals %}
    {% if val.rasmi %}
    <div class="p-2">
        <form action="{% url 'add_cart' val.pk %}" method="post">{% csrf_token%}
        <img src="{{val.rasmi.url }}" alt="" width="250", height="200">
        <h5><i>{{val.ismi}} </i> {{val.price}}$</h5>

        {% if user.is_staff %}
        <label for="inputvalue">Sonini kiriting:</label>
        <input type="number" name="inputvalue"  value="1" style="width: 60px;" >       
        <input type="submit"  value="Savatga" /> 
        <div>
            <a href="{% url 'edit' val.pk %}">edit</a>
            <a href="{% url 'delete' val.pk %}">delete</a>
        </div>        
        {% elif user.is_authenticated %}
        <label for="inputvalue">Sonini kiriting:</label>
        <input type="number" name="inputvalue"  value="1" style="width: 60px;" >       
        <input type="submit"  value="Savatga" />
        {% endif %}
     </form>
    </div>   
    {% endif%}
{%endfor%}
</div>     
{% endblock %}